body{
 background-color: azure;
}
h1{
    color:orange;
    text-align: center;
    display: block;
    margin: 60px;
    padding: 60px;
    background-color: black;
    border: 20px dotted  green ;
}
img{
    width: 300px;
    height: auto;
}